{% extends 'base.html.twig' %}

{% block title %}Destinations{% endblock %}

{% block body %}
    <div class="row">

            <div class="col-8 col-sm-12 mt-2">
                <div class="card" style="height: 100%;padding: 20px;">
                    <h5 class="card-title text-center"><b class="text-success"> {{ destination.pays }}</b></h5>
                    <img class="card-img-top" src="{{ destination.imagePays }}" alt="Card image cap">
                    <div class="card-body">
                         <p class="card-text">{{ destination.descriptionPays }}.</p>
                        <p class="card-text text-center">Hebergement: {{ destination.hebergement }}</p>
                        <p class="card-text text-center">Prix: {{ destination.prix }} €</p>
                        <p class="card-text text-center">Date: {{ destination.date ? destination.date|date('Y-m-d') : '' }}</p>
                        <p class="card-text text-center">Numero: {{ destination.id }}</p>
                        <a class="btn btn-info" href="{{ path('destinations_index') }}">back to list</a>

                        <a class="btn btn-success" href="{{ path('destinations_edit', {'id': destination.id}) }}">edit</a>

                    </div>
                    {{ include('destinations/_delete_form.html.twig') }}
                </div>
            </div>



    </div>



{% endblock %}
